
header{
    background-color: #B19242;
    margin: 0px;
    border: 0px;
    padding: 5px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* Botão do meio de pesquisa */
header > .header_pesquisa{
    text-align: center; 
    padding: 0px; 
}

header > .header_pesquisa > .search-bar {
      padding: 10px 20px; /* Espaçamento interno para o botão */
      background-color: #fdfdfd; /* Cor de fundo do botão */
      color: #080808; /* Cor do texto do botão */
      border: none; /* Remover borda do botão */
      border-radius: 5px; /* Cantos arredondados */
      font-size: 16px; /* Tamanho da fonte */
      cursor: pointer; /* Cursor de mão ao passar o mouse */
      border-radius: 5px; 




}

header > .header_pesquisa > .confirm-button {
      text-align: center;
      width: 80px; 
      padding: 10px; 
      border: 1px solid #000000; 
      border-radius: 5px; 
      font-size: 15px; 
}


/* Logo no header */

header > .header_logo{
   
} 

header > .header_logo > a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}  

header > .header_logo > a >  img {
    float: left;
    padding: 8px;
}

header > .header_logo > a >  h1 {

    color: #000000;
    font-weight: normal;
   
}

/* -------------------------------------------------------------------------- */
/* carrosel de imagens*/


.bem_vindo{
    text-align: center;
    font-size: 50px;
    margin: 80px 0px 40px 0px;
}
.logo-topo{
    padding: 30px 20px;
}



/* -------------------------------------------------------------------------- */

/* Fonte Padrao */

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f6f6f6;
    margin: 0;
}

.oleo-font {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-weight: normal;
}

/* -------------------------------------------------------------------------- */

/* menu de categorias de comidas */

.menu {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.menu  > a {
    display: inline-block;

    border: 3px solid rgb(0, 0, 0);
    background-color: #ffffff;
    margin: 10px 30px;
    padding: 15px;
    border-radius: 10px;
    width: 18%;
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-size: 30px;
    text-align: center;

}

/* Estilos para tornar o menu responsivo */
@media screen and (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu a {
        margin: 5px 5px;
        width: 80%;
    }
}

/* -------------------------------------------------------------------------- */

/* Imagens de receitas mais pesquisadas  main*/


main{
    margin: 100px 0;
}

main > h1{
    text-align: center;
    font-size: 50px;

}

main > .lista_receitas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

main > .lista_receitas > a > img{
    width: 400px;
    height: 300px;
    margin: 10px 20px;
    border-radius: 10px;    
}


/* -------------------------------------------------------------------------- */

/*Rodapé*/

body > footer{

    clear: both;
    margin: 0;
    background-color: #B19242;
    padding: 80px 30px 30px 40px;
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}

body > footer > div{
    margin: 5px;
}

.footer_redesocial{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    flex: 1;
    width: 33%;
    align-items: center;
    justify-content: space-around;
   
}

.footer_redesocial > div{

    padding: 10px;
    justify-content: center; 
    text-align: center;
    width: auto;
   
}

.footer_links{
     /* Defina a altura desejada */
    text-align: center;
    display: flex;
    padding: 5px;
    margin: 20px;
    flex: 1;
    width: 25%;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}

.footer_links > div{

    padding: 10px;
   
    text-decoration: none;
    align-items: center;
}

.footer_links > div > a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    text-align: center;
    flex: 1;
    width: 20%;
  
}

.footer_logo{
    width: 20%;
    display: flex;
    padding: 10px;
    flex: 1;
    
}

.footer_logo > img{
    padding: 18px;
    font-weight: normal;

}

.footer_logo > h1{
    font-weight: normal;
}

.footer_logo > a{
    display: flex;
    align-items: center;
    text-decoration: none;
}  

.footer_logo > a >  img {
    float: left;
    padding: 8px;
}

.footer_logo> a >  h1 {

    color: #000000;
    font-weight: normal;
   
}


/* -------------------------------------------------------------------------- */