
/* Fonte Padrao */

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ededed;
    margin: 0;
}

.oleo-font {
    font-family: 'Oleo Script Swash Caps', cursive;
}

/* -------------------------------------------------------------------------- */


.header_logo_login{
    display: flex;
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
    justify-content: center;
}

.header_logo_login > img{
    margin-top: 40px;
    padding-right: 20px;
}

form {
    
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 200px;
    text-align: center;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form > a{
   
   
    text-align: center;
    margin-left: 45px;
    padding: 10px;
    display: inline-block;
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 22px;

}


.form_label{

    font-size: 20px;
    padding: 10px;
    
}


.form_email{
    margin-bottom: 20px;  
    border-radius: 8px;
}

.form_senha{
    border-radius: 8px;
}


.form_entrar{
    font-size: 20px;
    margin-top: 60px;
    margin-left: 55px;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 60px;
    margin-left: 55px;
    color: #ffffff;
    background-color: red;
}


form:hover{
    top:-2px;
    box-shadow:0 2px 2px #666
}

input:hover{
    background-color: #b4b4b4;
}


form > div> input {
    padding: 10px 60px 10px 60px;
}
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */

/*Rodapé*/

body > footer{

    clear: both;
    margin: 0;
    background-color: #B19242;
    padding: 80px 30px 30px 40px;
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

body > footer > div{
    margin: 5px;
}

.footer_redesocial{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    flex: 1;
    width: 33%;
    align-items: center;
    justify-content: space-around;
   
}

.footer_redesocial > div{

    padding: 10px;
    justify-content: center; 
    text-align: center;
    width: auto;
   
}

.footer_links{
     /* Defina a altura desejada */
    text-align: center;
    display: flex;
    padding: 10px;
    margin: 40px;
    flex: 1;
    width: 33%;
    justify-content: space-around;
}

.footer_links > div{

    padding: 10px;
   
    text-decoration: none;
    align-items: center;
}

.footer_links > div > a{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    flex: 1;
  
}

.footer_logo{
    width: 20%;
    display: flex;
    padding: 10px;
    flex: 1;
    
}

.footer_logo > img{
    padding: 18px;
    font-weight: normal;

}

.footer_logo > h1{
    font-weight: normal;
}
/* -------------------------------------------------------------------------- */


